@import url(https://fonts.googleapis.com/css?family=Exo+2);

@font-face {
    font-family: 'Airborne-II-Pilot';
    src:url('../fonts/Airborne-II-Pilot.ttf.woff') format('woff'),
    url('../fonts/Airborne-II-Pilot.ttf.svg#Airborne-II-Pilot') format('svg'),
    url('../fonts/Airborne-II-Pilot.ttf.eot'),
    url('../fonts/Airborne-II-Pilot.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: Airborne-II-Pilot, sans-serif !important;
}

body {
    font-family: 'Exo 2', sans-serif !important;
}

.logo {
    background-image: url("../img/logo.png?v=2");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.logo-half {
    background-image: url("../img/logo-half.png?v=2");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: right;
}

#link-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

#link-list a {
    font-weight: normal;
    font-size: 1.2em;
}

